# Database Secrets
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# Other Secrets
JWT_SECRET=
WAYLAND_DISPLAY=
EXPO_PUBLIC_API_URL=

# Cloudinary credentials (for image uploads)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Admin credentials
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=

# SendGrid API
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=

# Stripe API
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
