# Database Secrets
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# Other Secrets
JWT_SECRET=
WAYLAND_DISPLAY=
STRIPE_SECRET_KEY=
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxx
EXPO_PUBLIC_API_URL=http://localhost:8080