# Database Secrets
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# Other Secrets
JWT_SECRET=
STRIPE_SECRET_KEY=
EXPO_PUBLIC_API_URL=

# Cloudinary credentials (for image uploads)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=-B0VETCW10

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=

SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=

GEONAMES_USERNAME=
